*{
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    background-color:transparent;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.containerbox{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}
.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom:solid #FFF01F;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom:  0;
    left: 50%;
    transform: translateX(-50%);
    background-color:#FFF01F;
    transition: width 0.2s;
}
nav ul li a:hover::after{
    width: 50%;
}
.welcome h1{
   color: transparent;
   -webkit-text-stroke: 0.5px #FFF01F;
   background-image: url(../project/images/effect.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: effect 50s linear infinite;
}
@keyframes effect{
    100%{
        background-position: 2000px 0;
    }
}
.workouts{
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    overflow: hidden;
}
.workouts .workout1, .workouts .workout2 , .workouts .workout3{
    position: relative;
    border: solid 3px rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.2);
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.workout1 *,.workout2 * ,.workout3 *{
    position: relative;
    z-index:10;

}
.workouts .workout1:hover::before, .workouts .workout2:hover::before , .workouts .workout3:hover::before{
    content: '';
    position: absolute;
    width: 150px;
    align-items: center;
    height:140%;
    background: #FFF01F; 
    animation: animate 7s linear infinite;
}
.workouts .workout1:hover::after, .workouts .workout2:hover::after , .workouts .workout3:hover::after{
    content: '';
    position: absolute;
    inset: 4px;
    background:black;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.workout1:hover + .overlay ,.workout2:hover + .overlay, .workout3:hover + .overlay,.workout1 + .overlay:hover ,.workout2 + .overlay:hover, .workout3 + .overlay:hover{
    visibility: visible;
    color: white;
    opacity: 1;
    z-index: 200;
}
.overlay{
    background-color: black;
    border-width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    justify-content: space-evenly;
    position: relative;
    transition: visibility 0.3s, opacity 0.5s linear;
   
}
.overlay .intermediate{
    color: #FFF01F;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}
.overlay .pro{
    color: #FFF01F;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
  
}
.overlay .beginner{
    color: #FFF01F;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}
.socials .button{
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 5px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition:all 0.3s ease-out;
}
.socials .button:hover{
    width:200px
}
.socials .button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    color: #FFF01F;
}
.fab{
    font-size: 25px;
    line-height: 50px;
}

.socials .button span{
    font-size: 20px;
    color: #FFF01F;
    font-weight: 400;
    line-height: 50px;
    margin-left: 10px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items:center;
}
@media screen and (max-width:600px) {
    body{
        background-image: url(../Project/images/background1.jpg);
     
    }
    .navbar {
        border-width: 3px;  
    
    }
    .logo{
        width: 100px;
        height: 80px;
    }
    nav{
        flex:1;
        text-align: right;
    }
    
    nav ul li{
        list-style:none ;
        display: inline-block;
        margin-right:40px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 15px;
        color:white;
        position: relative;
    }

    .welcome{
        text-align: center;
        color:black;
        position: relative;
        top: 8%;
    }
    
    .welcome h1{
    font-size: 45px;
     margin-top: 10px;
    }

    .welcome h4 {
        font-size:20px;
        font-weight: 300;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 60%;
        display: inline-block;
    
    }
    .bar{
        align-items: center;
        border-bottom:solid #FFF01F;
        border-width: 3px;
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .workouts{
        flex-direction: column;
        margin-top: 14%;
    }
    
    .workouts .workout1, .workouts .workout2 , .workouts .workout3{
        position: relative;
        height: 250px;
        width: 220px;
        border-radius: 2px;
       
    } 
    .workouts h1 {
        margin-left: 15px;
        margin-right: 10px;
        font-size: 20px;
        align-items: center;
        color: #FFF01F;
        font-weight: 400;      
    }
    .workouts img{
        width:150px;
        height: 150px;
    }
     .overlay{
        width:220px;
        height:250px;
        border-top: solid 5px #FFF01F;
       
    }
    .overlay h1{
        margin-left: 15px;
        margin-right: 10px;
        text-align: center;
        font-size: 20px;
        color:white ;
        font-weight: 400;
    }
    .overlay .l{
        align-items: center;
        border-bottom:solid white;
        border-width: 3px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .overlay h4{
        text-align: center;
        font-size: 15px;
    }
    .overlay .intermediate{ 
        padding: 10px 20px;
        margin-left:10px;
        margin-right:10px;
        border: 3px solid #FFF01F;
        font-size: 13px;
    }
    .overlay .pro{
        padding: 10px 20px;
        margin-left:10px;
        margin-right:10px;
        border: 3px solid #FFF01F;
        font-size: 13px;
    }
    .overlay .beginner{
        padding: 10px 20px;
        margin-left:10px;
        margin-right:10px;
        border: 3px solid #FFF01F;
        font-size: 13px;
    }
    .overlay a span{
        font-size: 30px;
        line-height: 15px;
        margin-left: 5px;
        justify-content: center;
    }

    .socials{
       margin-bottom: 20px;
    }
}
@media screen and (min-width:601px) and (max-width: 768px){
    body{
        background-image: url(../Project/images/phone_background.jpg);
     
    }
    .navbar {
        border-width: 3px;  
    
    }
    .logo{
        width: 100px;
        height: 80px;
    }
    nav{
        flex:1;
        text-align: right;
    }
    
    nav ul li{
        list-style:none ;
        display: inline-block;
        margin-right:40px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 15px;
        color:white;
        position: relative;
    }

    .welcome{
        text-align: center;
        color:black;
        position: relative;
        top: 8%;
    }
    
    .welcome h1{
    font-size: 45px;
     margin-top: 10px;
    }

    .welcome h4 {
        font-size:20px;
        font-weight: 300;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 60%;
        display: inline-block;
    
    }
    .bar{
        align-items: center;
        border-bottom:solid #FFF01F;
        border-width: 3px;
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .workouts{
        flex-direction: column;
        margin-top: 18%;
    }
    
    .workouts .workout1, .workouts .workout2 , .workouts .workout3{
        position: relative;
        height: 250px;
        width: 220px;
        border-radius: 2px;
       
    } 
    .workouts h1 {
        margin-left: 15px;
        margin-right: 10px;
        font-size: 20px;
        align-items: center;
        color: #FFF01F;
        font-weight: 400;      
    }
    .workouts img{
        width:150px;
        height: 150px;
    }
     .overlay{
        width:220px;
        height:250px;
        border-top: solid 5px #FFF01F;
       
    }
    .overlay h1{
        margin-left: 15px;
        margin-right: 10px;
        text-align: center;
        font-size: 20px;
        color:white ;
        font-weight: 400;
    }
    .overlay .l{
        align-items: center;
        border-bottom:solid white;
        border-width: 3px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .overlay h4{
        text-align: center;
        font-size: 15px;
    }
    .overlay .intermediate{ 
        padding: 10px 30px;
        margin-left:20px;
        margin-right:20px;
        border: 3px solid #FFF01F;
        font-size: 13px;
    }
    .overlay .pro{
        padding: 10px 30px;
        margin-left:20px;
        margin-right:20px;
        border: 3px solid #FFF01F;
        font-size: 13px;
    }
    .overlay .beginner{
        padding: 10px 30px;
        margin-left:20px;
        margin-right:20px;
        border: 3px solid #FFF01F;
        font-size: 13px;
    }
    .overlay a span{
        font-size: 30px;
        line-height: 15px;
        margin-left: 5px;
        justify-content: center;
    }
    .socials{
        margin-bottom: 45px;
     }
    
}
@media screen and (min-width: 769px) and (max-width:992px) {
    body{
        background-image: url(../Project/images/background1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .containerbox{
        width:100%;
        height:100vh;
        box-sizing: border-box;
        padding-left: 4%;
        padding-right: 4%;
        }
    
    .navbar {
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom:solid #FFF01F;
        border-width: 3px;  
    }
    .logo{
        width: 150px;
        height: 120px;
    }
    nav{
        flex:1;
        text-align: right;
    }
    
    nav ul li{
        list-style:none ;
        display: inline-block;
        margin-right:40px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 17px;
        color:white;
        position: relative;
    }
    .welcome{
        text-align: center;
        color:black;
        position: relative;
        top: 8%;
    }
    .welcome h1{
        font-size: 65px;
       margin-left: -8px;
    }
    .welcome h4 {
        font-size:20px;
        font-weight: 400;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 60%;
        display: inline-block;
    
    }
    .bar{
        align-items: center;
        border-bottom:solid #FFF01F;
        border-width: 3px;
        margin-top: 20px;
        margin-left: 250px;
        margin-right: 250px;
    }
    .workouts{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
        position: relative;
        overflow: hidden;
        margin-top: -80px;
    }
    
    .workouts .workout1, .workouts .workout2 , .workouts .workout3{
        position: relative;
        height: 250px;
        width: 210px;
        border-radius: 2px;
        border: solid 3px rgba(255,255,255,0.1);
        background: rgba(255,255,255,0.2);
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }
    
    .workouts .workout1:hover::before, .workouts .workout2:hover::before , .workouts .workout3:hover::before{
        width: 90px;
        height:180%;
        margin-top: -40px;
   
    }
    .workouts h1 {
        align-items: center;
        color: #FFF01F;
        font-size: 23px;
        font-weight: 400;
        
    }
    .workouts img{
        width:140px;
        height: 140px;
    }
     .overlay{
        height: 250px;
        width: 210px;
        border-top: solid 5px #FFF01F;
        background-color: black;
        border-width: 50%;
        color: black;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        justify-content: space-evenly;
        position: relative;
        margin-left: -42.5%;
        margin-top: 515px;
        transition: visibility 0.3s, opacity 0.5s linear;
    }
    .overlay h1{
        margin-left: 15px;
        margin-right: 10px;
        text-align: center;
        color:white ;
        font-weight: 400;
        font-size: 23px;
    }
    .overlay .l{
        align-items: center;
        border-bottom:solid white;
        border-width: 3px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: -10px;
    }
    .overlay h4{
        text-align: center;
        font-size: 15px;
    }
    .overlay .intermediate{
        color: #FFF01F;
        text-decoration: none;
        padding: 10px 30px;
        position: relative;
        display: flex;
        align-items: center;
        margin-left:10px;
        margin-right:10px;
        border: 3px solid #FFF01F;
        font-size: 12px;
    }
    .overlay .pro{
        color: #FFF01F;
        text-decoration: none;
        padding: 10px 30px;
        position: relative;
        display: flex;
        align-items: center;
        margin-left:10px;
        margin-right:10px;
        border: 3px solid #FFF01F;
        font-size: 12px;
    }
    .overlay .beginner{
        color: #FFF01F;
        text-decoration: none;
        padding: 10px 30px;
        position: relative;
        display: flex;
        align-items: center;
        margin-left:10px;
        margin-right:10px;
        border: 3px solid #FFF01F;
        font-size: 12px;
    }
    .overlay a span{
        font-size: 20px;
        line-height: 20px;
        margin-left: 5px;
        justify-content: center;
    }
    
    
}
@media screen and (min-width:993px) and (max-width:1200px)  {
    body{
        background-image: url(../Project/images/phone_background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    .containerbox{
        width:100%;
        height:100%;
        box-sizing: border-box;
        padding-left: 2%;
        padding-right: 4%;
    }
.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom:solid #FFF01F;
    border-width: 5px;  

}
.logo{
    width: 150px;
    height: 130px;
}
nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style:none ;
    display: inline-block;
    margin-right:40px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom:  0;
    left: 50%;
    transform: translateX(-50%);
    background-color:#FFF01F;
    transition: width 0.2s;
}
nav ul li a:hover::after{
    width: 50%;
}
.welcome{
    text-align: center;
    color:black;
    position: relative;
    top: 8%;
}

.welcome h1{
    font-size: 80px;
   margin-left: -8px;
}

.welcome h4 {
    font-size:30px;
    font-weight: 400;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 60%;
    display: inline-block;

}
.bar{
    align-items: center;
    border-bottom:solid #FFF01F;
    border-width: 5px;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
}
.workouts{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    margin-top: 12%;
    overflow: hidden;
}

.workouts .workout1, .workouts .workout2 , .workouts .workout3{
    position: relative;
    height: 400px;
    width: 30%;
    border-radius: 2px;
    border: solid 3px rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.2);
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 15px;
}

.workouts h1 {
    margin-left: 15px;
    margin-right: 10px;
    align-items: center;
    color: #FFF01F;
    font-weight: 700;
    font-size: 30px;
    
}
.workouts img{
    width:290px;
    height: 290px;
    padding-top:20px;
}
 .overlay{
    width:70%;
    height:400px;
    border-left: solid 5px #FFF01F;
    background-color: black;
    border-width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    justify-content: space-evenly;
    align-items:center;
    position: relative;
    transition: visibility 0.3s, opacity 0.5s linear;
    margin-top:-405px;
    margin-left:345px;
   
}
.overlay h1{
    text-align: center;
    color:white ;
    font-weight: 700;
}
.overlay .l{
    align-items: center;
    border-top:solid white;
    border-width: 5px;
}
.overlay h4{
    width: 70%;
    text-align: center;
    font-size: 25px;
    margin-top: -100px;
}
.overlay .intermediate{
    color: #FFF01F;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid #FFF01F;
    font-size: 20px;
}
.overlay .pro{
    color: #FFF01F;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid #FFF01F;
    font-size: 20px;
}
.overlay .beginner{
    color: #FFF01F;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid #FFF01F;
    font-size: 20px;
}
.overlay a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
    justify-content: center;
}

.socials{
    margin-bottom: 20px;
 }
}
@media  screen and (min-width: 1200px) and (max-width:1600px) {  
body{
    background-image: url(../Project/images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.containerbox{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}
.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom:solid #FFF01F;
    border-width: 5px;  

}
.logo{
    width: 180px;
    height: 150px;
}
nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style:none ;
    display: inline-block;
    margin-right:40px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    position: relative;
}
.welcome{
    text-align: center;
    color:black;
    position: relative;
    top: 8%;
}

.welcome h1{
    font-size: 100px;
   margin-left: -8px;
}
  
.welcome h4 {
    font-size:40px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    display: inline-block;

}
.bar{
    align-items: center;
    border-bottom:solid #FFF01F;
    border-width: 5px;
    margin-top: 60px;
    margin-left: 350px;
    margin-right: 350px;
}
.workouts{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    position: relative;
    margin-top: 10%;
    margin-bottom: 2%;
    overflow: hidden;
}

.workouts .workout1, .workouts .workout2 , .workouts .workout3{
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 2px;
    border: solid 3px rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.2);
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.workouts h1 {
    align-items: center;
    color: #FFF01F;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    
}
.workouts img{
    width:230px;
    height: 230px;

}
 .overlay{
    height: 350px;
    width: 350px;
    border-left: solid 5px #FFF01F;
    background-color: black;
    border-width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    justify-content: space-evenly;
    position: relative;
    margin-left: 3px;
    transition: visibility 0.3s, opacity 0.5s linear;
   
}
.overlay h1{
    text-align: center;
    color:white ;
    font-weight: 700;
}
.overlay .l{
    align-items: center;
    border-bottom:solid white;
    border-width: 4px;
    margin-left: 40px;
    margin-right: 40px;
}
.overlay h4{
    text-align: center;
    font-size: 20px;
}
.overlay .intermediate{
    color: #FFF01F;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    border: 3px solid #FFF01F;
    font-size: 15px;
}
.overlay .pro{
    color: #FFF01F;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    border: 3px solid #FFF01F;
    font-size: 15px;
}
.overlay .beginner{
    color: #FFF01F;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    border: 3px solid #FFF01F;
    font-size: 15px;
}
.overlay a span{
    font-size: 20px;
    line-height: 15px;
    margin-left: 5px;
    justify-content: center;
}

.socials{
    justify-content: flex-end;
    margin-top: -30px;
}
}
@media screen and (min-width:1600px) {
   body{
    background-image: url(../Project/images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.containerbox{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 4%;
}
.navbar {
display: flex;
width: 100%;
align-items: center;
border-bottom:solid #FFF01F;
border-width: 5px;  

}
.logo{
width: 180px;
height: 150px;
}
nav{
flex:1;
text-align: right;
}

nav ul li{
list-style:none ;
display: inline-block;
margin-right:40px;
}
nav ul li a{
text-decoration: none;
font-size: 20px;
color:white;
position: relative;
}
.welcome{
text-align: center;
color:black;
position: relative;
top: 8%;
}

.welcome h1{
font-size: 100px;
margin-left: -8px;
}

.welcome h4 {
font-size:40px;
font-weight: 400;
color: white;
margin-top: 20px;
margin-bottom: 20px;
width: 60%;
display: inline-block;

}
.bar{
align-items: center;
border-bottom:solid #FFF01F;
border-width: 5px;
margin-top: 60px;
margin-left: 350px;
margin-right: 350px;
}
.workouts{
display:flex;
flex-direction: row;
justify-content: center;
align-items:center;
position: relative;
margin-top: 5.5%;
margin-left:15%;
overflow: hidden;
}

.workouts .workout1, .workouts .workout2 , .workouts .workout3{
position: relative;
height: 400px;
width: 320px;
border-radius: 2px;
border: solid 3px rgba(255,255,255,0.1);
background: rgba(255,255,255,0.2);
visibility: visible;
opacity: 1;
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
overflow: hidden;
}

.workouts h1 {
text-align: center;
align-items: center;
color: #FFF01F;
font-weight: 700;

}
.workouts img{
width:290px;
height: 290px;
padding-top:20px;
padding-left: 12px;
}
.overlay{
width:320px;
height:400px;
border-left: solid 5px #FFF01F;
background-color: black;
border-width: 50%;
color: black;
display: flex;
flex-direction: column;
visibility: hidden;
opacity: 0;
justify-content: space-evenly;
position: relative;
margin-left: 3px;
transition: visibility 0.3s, opacity 0.5s linear;

}
.overlay h1{
margin-left: 15px;
margin-right: 10px;
text-align: center;
color:white ;
font-weight: 700;
}
.overlay .l{
align-items: center;
border-bottom:solid white;
border-width: 4px;
margin-top: -30px;
margin-left: 40px;
margin-right: 40px;
}
.overlay h4{
text-align: center;
font-size: 20px;
}
.overlay .intermediate{
color: #FFF01F;
text-decoration: none;
padding: 10px 20px;
position: relative;
display: flex;
align-items: center;
margin-left:40px;
margin-right:40px;
border: 3px solid #FFF01F;
font-size: 20px;
}
.overlay .pro{
color: #FFF01F;
text-decoration: none;
padding: 10px 20px;
position: relative;
display: flex;
align-items: center;
margin-left:40px;
margin-right:40px;
border: 3px solid #FFF01F;
font-size: 20px;
}
.overlay .beginner{
color: #FFF01F;
text-decoration: none;
padding: 10px 20px;
position: relative;
display: flex;
align-items: center;
margin-left:40px;
margin-right:40px;
border: 3px solid #FFF01F;
font-size: 20px;
}
.overlay a span{
font-size: 30px;
line-height: 15px;
margin-left: 5px;
justify-content: center;
}
}